In [6]:
import numpy as py
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as se
import sklearn as skl

In [7]:
df=pd.read_csv("datasets/Social_Network_Ads.csv")

In [8]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [9]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['Gender']=label_encoder.fit_transform(df['Gender'])

In [11]:
df['Gender'].unique()

array([1, 0])

In [12]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [13]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [14]:
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [15]:
X=df.drop(['Purchased'],axis=1)
y=df['Purchased']

In [16]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [19]:
logreg.fit(Xtrain,ytrain)

LogisticRegression()

In [21]:
ytrain_pred=logreg.predict(Xtrain)
ytest_pred=logreg.predict(Xtest)

In [22]:
df=pd.DataFrame(ytrain_pred,ytrain)
df=pd.DataFrame(ytest_pred,ytest)

In [23]:
y_pred=logreg.predict(Xtest)

In [25]:
from sklearn.metrics import precision_score,confusion_matrix,accuracy_score,recall_score
accuracy=accuracy_score(ytest,y_pred)
precision=precision_score(ytest,y_pred,average="micro")
recall=recall_score(ytest,y_pred,average="micro")
cm=confusion_matrix(ytest,y_pred)

In [26]:
accuracy

0.825

In [27]:
precision

0.825

In [28]:
recall

0.825

In [29]:
cm

array([[56,  2],
       [12, 10]], dtype=int64)